{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablecss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chartchangecss.css') }}">
    <script type="text/javascript" src="/static/javascript/echarts.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="/static/javascript/jquery-3.3.1.js"></script>
    <script>
    var username = '{{ username }}';
    $.ajax({
        async: false,
        type: "GET",
        url: "http://cs9900fafafa.azurewebsites.net/api/User/GetUserProfile?username=" + username,
        success: function (profile_data) {
            window.portfolios = profile_data;
        }
    });
</script>
{% endblock %}
{% block LeftNav %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Portfolio <span class="caret"></span></a>
      <ul id="portfolios_dropdown" class="dropdown-menu">
          <script>
              var data = window.portfolios;
              var ul = document.getElementById('portfolios_dropdown');
              var newportfolio = document.createElement('li');
              var link = document.createElement('a');
              link.innerHTML = "New Portfolio";
              link.setAttribute('href', "http://127.0.0.1:5000/createportfolio");
              newportfolio.appendChild(link);
              for (var key in data) {
                  var li = document.createElement('li');
                  var separator = document.createElement('li');
                  var link = document.createElement('a');
                  link.setAttribute('href', "http://127.0.0.1:5000/portfolio?portfolioname="+key);
                  link.innerHTML = key;
                  separator.className = 'divider';
                  separator.setAttribute('role', "separator");
                  li.appendChild(link);
                  ul.appendChild(li);
                  ul.appendChild(separator);
              }
              ul.appendChild(newportfolio);
          </script>
      </ul>
    </li>
{% endblock %}
{% block RightNav %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
      </ul>
    </li>
{% endblock %}

{% block main %}
{% endblock %}