{% extends 'dashboard.html' %}

{% block main %}
    <br>
    <br>
    <br>
    <h1>Portfolio:  {{ portfolio }}</h1>
    <br>
    <table id="portfolio_table" align="center" border="1">
    <script>
        var table = document.getElementById("portfolio_table");
        var portfolioname = '{{ portfolio }}';
        var portfolio = window.portfolios[portfolioname];
        if(portfolio.length > 0) {
            var tr = document.createElement('tr');
            for(var head in portfolio[0]){
                var th = document.createElement('th');
                th.innerHTML = head;
                tr.appendChild(th);
            }
            table.appendChild(tr);
            for(var stock in portfolio){
                var tr = document.createElement('tr');
                for(var attribute in portfolio[stock]){
                    var tb = document.createElement('td');
                    tb.innerHTML = portfolio[stock][attribute];
                    tr.appendChild(tb);
                }
                table.appendChild(tr);
            }
        }
        else{
            document.write('<tr>');
            document.write('<th>StockId</th>');
            document.write('<th>Shares</th>');
            document.write('<th>TradeDate</th>');
            document.write('<th>TradePrice</th>');
            document.write('</tr>');
        }
    </script>
    </table>
    <br>
    <br>
    <div class="form-container">
        <button><a href="http://127.0.0.1:5000/addtransaction?portfolioname={{ portfolio }}">ADD TRANSACTION</a></button>
    </div>
{% endblock %}