{% extends 'basechange.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablecss.css') }}">
    <script type="text/javascript" src="/static/javascript/echarts.js"></script>
    <script src="/static/javascript/jquery-3.3.1.js"></script>
    <meta id="StockID" data-result="{{ stockid }}">

{% endblock %}

{% block RightNav%}
    <li><a href="{{ url_for('login') }}">Sign in</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
{% endblock %}

{% block liactive %}
{#    <li><a href="http://127.0.0.1:5000/">Home</a></li>#}
    <li><a href="http://127.0.0.1:5000/stockbasic?stockid={{ stockid }}">Basic</a></li>
    <li class="active"><a href="http://127.0.0.1:5000/stockfull?stockid={{ stockid }}">Full Screen</a></li>
    <li><a href="http://127.0.0.1:5000/news?stockid={{ stockid }}">News</a></li>
    <li><a href="http://127.0.0.1:5000/contact?stockid={{ stockid }}">Contact</a></li>
{% endblock %}

{% block after %}
    <h2 id="StockId" style="text-align: center">{{ result['Corporation'] }}</h2>
    <div id="main" style="width: 1400px; height: 700px;margin:auto;"></div>
    <script type="text/javascript" src="/static/javascript/candlestick.js"></script>

    <div id="mark" style="width: 700px; height: 350px;margin:auto;"></div>
    <script type="text/javascript" src="/static/javascript/mark.js"></script>

    <div class="text-center">
        <div class="data-label">
            <strong style="color: #d75442">last refreshed: {{ refresh_date[0] }}</strong>
            <br>
            {% for con in content %}
            {{ con | safe }}
                <br>
            {% endfor %}
        </div>
{#        <p><label>投资建议</label></p>  #}
{#        <p id="tzjy">大盘走势极好，积极参与</p>#}
    </div>
{% endblock %}

{% block main %}

{% endblock %}