{% extends 'dashboard.html' %}

{% block liactive %}
    <li><a href="http://127.0.0.1:5000/usersummary">Summary</a></li>
    <li class="active"><a href="http://127.0.0.1:5000/userasset">Assets</a></li>
    <li><a href="http://127.0.0.1:5000/usertransaction">Transaction History</a></li>
{% endblock %}

{% block main %}
    <script>
        var portfoliosInfo = {}
        for (portfolioname in window.portfolios) {
            var portfolio = window.portfolios[portfolioname]
            if (portfolio.length > 0) {
                var stocks = {}
                for (var stock in portfolio){
                    var stockid = portfolio[stock]['StockId']
                    if (stockid in stocks){
                        stocks[stockid]['Shares'] += parseInt(portfolio[stock]['Shares'])
                        stocks[stockid]['Original Asset'] += parseFloat(portfolio[stock]['Shares'])*parseFloat(portfolio[stock]['TradePrice'])
                    }
                    else{
                        stocks[stockid] = {}
                        stocks[stockid]['Shares'] = parseInt(portfolio[stock]['Shares'])
                        stocks[stockid]['Original Asset'] = parseFloat(portfolio[stock]['Shares'])*parseFloat(portfolio[stock]['TradePrice'])
                         $.ajax({
                            async: false,
                            url: 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+stockid+'&apikey=FXO9ZICGVO904HHE',
                            success: function (stock_data) {
                                var lastdate = stock_data['Meta Data']['3. Last Refreshed']
                                stocks[stockid]['Latest Price'] = parseFloat(stock_data['Time Series (Daily)'][lastdate]['4. close'])
                                stocks[stockid]['Latest Change'] = (parseFloat(stock_data['Time Series (Daily)'][lastdate]['4. close']) - parseFloat(stock_data['Time Series (Daily)'][lastdate]['1. open'])) / parseFloat(stock_data['Time Series (Daily)'][lastdate]['1. open']) * 100
                            }
                        })
                    }
                }
                var totalGain = 0
                var totalAsset = 0
                var totalOriginalAsset = 0
                for (var stockid in stocks){
                    stocks[stockid]['Current Asset'] = stocks[stockid]['Shares'] * stocks[stockid]['Latest Price']
                    stocks[stockid]['Total Gain'] = stocks[stockid]['Current Asset'] - stocks[stockid]['Original Asset']
                    stocks[stockid]['Total Gain Percentage'] = stocks[stockid]['Total Gain'] / stocks[stockid]['Original Asset'] * 100
                    totalGain += stocks[stockid]['Total Gain']
                    totalAsset += stocks[stockid]['Current Asset']
                    totalOriginalAsset += stocks[stockid]['Original Asset']
                }
                var portfolioInfo = {}
                portfolioInfo['Stock Info'] = stocks
                portfolioInfo['Portfolio Info'] = {'Total Asset':totalAsset, 'Total Original Asset':totalOriginalAsset, 'Total Gain':totalGain}

                portfoliosInfo[portfolioname] = portfolioInfo
            }
            else{
                continue
            }
        }
        console.log(portfoliosInfo)
    </script>
    <div class="form-container">
        <button class="bottoncss" style="width: 200px;margin-top: 100px;margin-left: 25%"><a href="http://127.0.0.1:5000/addtransaction">ADD TRANSACTION</a></button>
    </div>
{% endblock %}